git-commit
*.alias
*.class
*.dot
*.dot~
*.graphml
*.log
*.pdg
*.pdg.opt
*.pdg-sdpn
*.size
*.tokens
.cvsignore
.DS_Store
.svn
api/joana.api.test/*.xml
api/joana.api.test/bin
api/joana.api.test/build/*
api/joana.api.test/lib
api/joana.api.testdata/bin
api/joana.api/bin
api/joana.api.testdata/bin

checkflow_tmp
contrib/lib/bin
CVS
deprecated/joana.deprecated.jsdg/*.csv
deprecated/joana.deprecated.jsdg/dist_simple
deprecated/jSDG/bin
deprecated/jSDG-GUI/bin
DeprecatedOldSDG_*.java
dist/
example/joana.example.many-small-progs/jSDG/lib
ifc/sdg/joana.ifc.sdg.graph/bin
ifc/sdg/joana.ifc.sdg.graph/bin/joana/sdg/SDG_.g
ifc/wala/joana.ifc.wala.sdpn/.cache
ifc/wala/joana.ifc.wala.sdpn/results/
joana-deploy-secret.properties
joana-log.properties
keystore
NoGit*.java
Thumbs.db
tmp
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/bin
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/build
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/dist
ui/ifc/sdg/joana.ui.ifc.sdg.graphviewer/grv.app/Contents/Resources/Java
ui/ifc/sdg/joana.ui.ifc.sdg.latticeeditor/bin
ui/ifc/wala/joana.ui.ifc.wala.console/bin
ui/ifc/wala/joana.ui.ifc.wala.console/deploy
ui/ifc/wala/joana.ui.ifc.wala.console/dist
ui/wala/joana.ui.wala.easyifc/lib/joana.api.jar
ui/wala/joana.ui.wala.easyifc/bin
ui/wala/joana.ui.wala.flowless/bin/
ui/wala/joana.ui.wala.flowless/lib/checkflow.jar
ui/wala/joana.ui.wala.flowless/lib/checkflow-old.jar
ui/wala/joana.ui.wala.flowless/lib/joana.wala.dictionary.jar
util/joana.util/bin
versionid.properties
wala/joana.wala.core/bin
wala/joana.wala.core/bin
wala/joana.wala.core/dist
wala/joana.wala.dictionary/dist
wala/joana.wala.dictionary/out
wala/joana.wala.eval/out
wala/joana.wala.flowless/bin
wala/joana.wala.flowless/bin/edu/kit/pp/mojo/spec/FlowLess.g
wala/joana.wala.flowless/bin/edu/kit/pp/mojo/spec/java/LightweightJava.g
wala/joana.wala.jodroid/Android SDGs/
wala/joana.wala.jodroid/bin/
wala/joana.wala.jsdg/out
wala/joana.wala.modular.testdata/dist
wala/joana.wala.summary/dist
wala/joana.wala.testdata/jSDG

api/joana.api.annotations.ignore/bin
api/joana.api.annotations.passon/bin
deprecated/jSDG-GUI/bin
example/joana.example.many-small-progs/bin
example/joana.example.tiny-special-tests/bin
ifc/sdg/joana.ifc.sdg.core/bin
ifc/sdg/joana.ifc.sdg.mhpoptimization/bin
ifc/sdg/joana.ifc.sdg.tests/bin
ifc/sdg/joana.ifc.sdg.util/bin
ui/annotations/joana.ui.annotations/bin
ui/annotations/joana.ui.annotations/processorbin
uui/ifc/sdg/joana.ui.ifc.sdg.compiler/bin
ui/ifc/sdg/joana.ui.ifc.sdg.gui/bin
ui/ifc/sdg/joana.ui.ifc.sdg.textual.highlight/bin
ui/ifc/sdg/joana.ui.ifc.sdg.threadviewer/bin
ui/ifc/sdg/joana.ui.ifc.sdg.viewer/bin
ui/ifc/wala/joana.ui.ifc.wala.console.test/bin
ui/ifc/wala/joana.ui.ifc.wala.rifl/bin
ui/wala/joana.ui.wala.easyifc/bin
wala/joana.wala.dictionary/bin
wala/joana.wala.eval/bin
wala/joana.wala.eval/build/
wala/joana.wala.jsdg/bin
wala/joana.wala.modular.testdata/bin
wala/joana.wala.summary/bin
wala/joana.wala.test/bin
wala/joana.wala.testdata/bin
wala/joana.wala.util/bin



/out/

# Created by https://www.toptal.com/developers/gitignore/api/intellij+all
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij+all

### Intellij+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Intellij+all Patch ###
# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

# Sonarlint plugin
.idea/sonarlint

# End of https://www.toptal.com/developers/gitignore/api/intellij+all

/ui/ifc/wala/joana.ui.ifc.wala.cli/joana.cli.jar
